*{
  border-radius: 0px !important;
}
.margin-left-15{margin-left: 15px !important;}
.margin-left-8{margin-left: 8px !important;}
.no-left-pad{padding-left: 0px !important;}
.no-right-pad{padding-right: 0px !important;}
.margin-top-0{margin-top: 0px;}
.font-table-small{font-size: 11px !important;}
.font-table{font-size: 11px !important;width: 80px; line-height: 15px !important;  word-wrap: break-word !important;}
.iread-btn{background:#bc3526; color:#FFFFFF;width:150px;border-radius:0px;padding:9px;letter-spacing:1.2px;}
.iread-btn-green:{background:#1abc9c; color:#FFFFFF;width:150px;border-radius:0px;padding:9px;letter-spacing:1.2px;}
.iread-btn:hover{background:#AC3C30;color:white;}
.iread-btn-white{background:transparent; color:#000;width:150px;border-radius:0px;border:1px solid #AC3C30; padding:9px;letter-spacing:1.2px;}
.iread-btn-white:hover{background:#AC3C30;color:#fff;}

.i-alert{position: fixed;top:11%;left: 43%;min-width: 250px;background: #AC3C30;color: #fff;}

.cl-btn{color: #fff;margin-left: 10px;opacity: 1;font-weight: 100;}
.margintop{margin-top: 20px !important;}
.margin-top-40{margin-top: 40px !important;}
.pointer-a{cursor: pointer;}
/*----------------------*/
.sub-head >.container-fluid{padding-left: 0px;padding-right: 0px; background: #fff; }
.sub-head  {min-height: auto;}
.sub-head >.container-fluid >.navbar-nav>li>a{padding-bottom: 9px;padding-top: 9px;}
.sub-head >.container-fluid .navbar-nav>.active>a{background: #bc3526 !important;color: #fff;}
.container{width: 98%;}
.p-small {line-height: 4px;}
.space{margin-top:0px;}


.isbn-btn{width: 100% !important;padding-top: 6px !important;padding-bottom: 6px !important;}
.update-btn{width: 177px !important; }
.req-fi{float: left !important;padding-right: 15px !important;}

/*loader spinners*/
 
.sp {
  width: 28px;
  height: 28px;
  clear: both;
  margin: 0px auto;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50% !important ;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/*full screen loader*/
.white-loader{width: 48px !important;height: 48px !important;border: 4px rgba(255, 255, 255, 0.25) solid !important;border-top: 4px #fff solid !important;margin-top: 25%;}

.overlay1
 {  opacity:0.8; background: #000; 
  width:100%;height:100%; z-index:10;top:0; left:0; position:fixed; 
 }
 .loader-text{color:#fff;margin-left: 42%;margin-top: 20px;}
/*rent request*/
#rent-index.nav-pills>li>a{background: #555 !important;margin-left:5px; color:#fff;margin-top: 3px;padding-left:6px;padding-right:6px;}
#rent-index.nav-pills>li>a:hover{background: #AC3C30 !important;}
#rent-index.nav-pills>li.active>a{background: #bc3526 !important; }
#rent-index{margin-top: -10px;}
.font-new-del{font-size: 12px;}
.action-btn{width: 130px !important;padding-top:5px !important;padding-bottom:5px !important;font-size: 12px !important;}
.action-btn-1{width: 160px !important;padding-top:7px !important;padding-bottom:7px !important;font-size: 10px !important;}
.action-btn-2{width: 170px !important;padding-top:5px !important;padding-bottom:5px !important;font-size: 12px !important;}
.action-btn-3{width: 120px !important;padding-top:5px !important;padding-bottom:5px !important;font-size: 12px !important;}

.edit-addr{cursor: pointer;}
.addr-form{width: 150px;}

.small-save-btn{padding: 0px;width: 80px; margin-top: 8px;font-size: 13px;}
.small-process-btn{padding: 0px;width: 110px; margin-top: 15px;font-size: 13px;}
.carrier-select-form{width: 110px !important;margin-top: 20px;}
.carrier-select-form select{padding-top:0px !important;padding-bottom: 0px !important;height: 25px;}
.track_input{width: 110px !important;font-size: 0.9em;}
.merchant_form{display: none;width:150px;}