.deli-btn{background: transparent !important;color: #000 !important;}
.deli-btn:hover{background: #bc3526 !important;color: #fff !important;}
.thumb-a{padding-top:20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.thumb-a:hover{border:1px solid #bc3526 !important};
#addressform{display: none; }
#address-back-button{display: none;}
a{color: black;}

.small-span-grey{color:#b2b2b2;}
.pad-0{padding:0px !important;}

.margin-top-10{margin-top: 10px !important;}
.red-link{color:#bc3526;}
.font-size-13{font-size: 13px;}

.order-container{width:100%; min-height:200px;border:1px solid #E5E5E5; margin-bottom: 20px;}
.order-headbar{border-bottom: 1px solid #E5E5E5;}
.order-id{margin:10px 10px 0px 00px; font-size: 16px;}
.order-title-p{margin:0px; font-size: 16px;border-bottom: 1px dotted #E5E5E5;}
.order-image{  max-height: 150px; max-width: 110px;}
.order-book-title{margin-top: 0px;margin-bottom: 0px;}
.break-up-text{font-size: 11px;margin-bottom: 0px;margin-top: 0px;width:170px;margin-left:25%;}
.break-up-div{display: none;}
.margin-top-bot-10{margin-bottom:10px !important;margin-top:10px !important;}
.status-span{color:#2ecc71;}
.action-btn{margin:6px -10px 0px 00px;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color:#bc3526; }
section{margin-top: 20px;}
.bookshelf-item{padding:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:48%;}
.row{margin:0px 0px 10px 0px;}
#addressform{display:none;}
.mob-tabs li{width:25%;}
.mob-tabs li a.active{background-color: #bc3526 !important;color:white !important;border: 1px solid #bc3526;}
/*---------------------------------------category page css starts----------------------------------------*/
.sort-header{background:#333;color:#ffffff;border-radius:0px;margin-right:-8px;margin-left:-8px;margin-bottom:5px;}

.book-grid{padding:10px;height:180px;}
.book-box{-webkit-transition: all .2s ease; /* Safari and Chrome */-moz-transition: all .2s ease; /* Firefox */
	-o-transition: all .2s ease; /* IE 9 */-ms-transition: all .2s ease; /* Opera */transition: all .2s ease;
	background:white;height:160px;width:100%;border:1px solid #E5E5E5;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.book-box:hover{-webkit-transform: scale(1.03);transform: scale(1.03);}
.book-box:hover .rent-start{color:blue;}
.book-box-price{font-size:13px;line-height:1.7;margin-top:5px;}
.book-box-hr{margin-top:8px;margin-left:0px;margin-bottom:8px;width: 90%;}
.price-arrow-low{margin-right:10px;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 7px solid #fff;position: absolute;margin-top: 6px !important;margin-left: 5px;}
.price-arrow-high{width: 0;height: 0;border-bottom: 7px solid #fff;border-left: 4px solid transparent;border-right: 4px solid transparent;position: absolute;margin-top: 6px;}
.author-book-trunc{margin-top:-5px !important;font-size: 12px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.rent-link-cat{font-size: 13px;margin-top: -5px;}
.book-img-grid{max-width: 105%;height:160px;}
.heading-book{max-height: 50px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}


/*category side bar css*/
.side-cat-bar{padding-left:55px;padding-right: 35px;}
.accord-deco{border:0px solid #ffffff !important;border-radius:0px !important;
	box-shadow: 0 0px 0px rgba(0,0,0,0)!important;}
.accord-head{background: transparent !important;}
.plus-min{font-size: 11px;padding:5px; }
.cat-list .panel-group>.panel-default>.panel-heading{padding-left:0px !important;padding-bottom: 0px !important; background:transparent!important;font-size:11px!important;text-decoration:none !important;}
.cat-list .list-group-item{border:0px solid transparent!important;padding-left: 20px !important;}
.cat-list .panel-group{margin-bottom: 0px !important;}
.cat-list .list-group{box-shadow: 0 0px 0px rgba(0,0,0,0)!important;}
.cat-list .panel-group .panel-heading+.panel-collapse>.list-group,.cat-list .panel-group .panel-heading+.panel-collapse>.panel-body{border: 0px solid transparent !important;}
.no-left-padd{padding-left: 0px !important;}
.static-title{position: absolute;top:15%;margin:auto 13%;color:#fff;font-size: 13px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.static-title small{color:#fff;}
/*---------------------------------------category page css ends----------------------------------------*/
#myList li{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}