*{border-radius: 0px !important;background-image: none !important;}
a{text-decoration: none !important;}
a:hover{background-color: none !important;background-image: none !important;}
.authcard{vertical-align: middle;border: 1px solid #eee;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);padding: 30px;}
.btn-btn{text-decoration: none;color: #fff;background-color: #F44336;text-align: center;letter-spacing: .5px;border: none;display: inline-block;height: 36px;line-height: 36px;outline: 0;padding: 0 2rem;text-transform: uppercase;}
.tab{background-color: #fff;border:1px solid #fff;color: #000;}
.tabs:hover{border:0px !important;}
.tab.active{background-color: #F44336;color: #fff;border: 1px solid #F44336;}
.nav-tabs>li>a{margin:0px !important;}
ul.nav.nav-tabs{margin-left: 60%;margin-bottom: 20px;display: inline-flex;}
.toast {z-index: 9999;height:20px;height:auto;position:absolute;right:5%;margin-left:-100px;top: 20%;background-color: #383838;color: #fff;font-family: Calibri;font-size: 20px;padding:25px 40px 25px 40px;text-align:center;border-radius: 2px;background-color: #ee424242eeee;-webkit-box-shadow: 0px 0px 5px -1px rgba(56, 56, 56, 1);-moz-box-shadow: 0px 0px 5px -1px rgba(56, 56, 56, 1);box-shadow: 0px 0px 5px -1px rgba(56, 56, 56, 1);}
.toast-success{background-color: #00897b;}
.inline{display: inline;}
.right{float:right;}
.nohover:hover{background-color: #fff !important;}
.list-group-item{margin-top: 5px;margin-bottom: 5px;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{background-color: #bc3526;border-color: #000;}